:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --branco: hsl(0, 0%, 100%);
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--light-grayish-cyan);
}

header img {
  display: block;
  margin: 1.5rem auto;
}

.calculadora {
  background-color: var(--branco);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.calculadora label {
  display: block;
  margin-bottom: 2%;
  color: var(--dark-grayish-cyan);
}

form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 1.5rem;
}

input[type="number"] {
  border: none;
  background-color: var(--very-light-grayish-cyan);
  width: 97%;
  height: 1.7rem;
  font-family: inherit;
  color: hsl(183, 100%, 15%);
  text-align: end;
  font-size: 22px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]:focus {
  outline: 3px solid var(--strong-cyan);
  box-shadow: 0 0 0 0;
}

.valor_conta {
  margin-bottom: 2%;
}

#bill {
  background-image: url(../images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 2%;
}

.quantidade_gorjeta {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

#gorjeta_customizada {
  width: 43%;
  border-radius: 4px;
  cursor: pointer;
}

.seletores button {
  appearance: none;
  color: var(--very-light-grayish-cyan);
  text-align: center;
  vertical-align: middle;
  width: 45%;
  height: 2.2rem;
  background-color: var(--very-dark-cyan);
  font-size: 22px;
  font-family: inherit;
  border: 2px solid var(--very-dark-cyan);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s ease;
}

.seletores button:hover {
  background-color: var(--strong-cyan);
  border-color: var(--strong-cyan);
}

.seletores button:active {
  background-color: var(--light-grayish-cyan);
  border-color: var(--light-grayish-cyan);
}

.quantidade_gorjeta input[type="number"]::placeholder {
  color: var(--dark-grayish-cyan);
  text-align: center;
}

.quantidade_pessoas {
  margin-top: 2%;
}

#number_people {
  background-image: url(../images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 2%;
}

.resultados {
  background-color: var(--very-dark-cyan);
  height: max-content;
  padding: 1.4rem;
  padding-top: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.resultados label {
  color: var(--very-light-grayish-cyan);
  font-size: 14px;
}

#p_person {
  color: var(--grayish-cyan);
}

.resultados span {
  display: inline;
  align-self: flex-end;
  font-size: 22px;
  color: var(--strong-cyan);
}

.reset {
  cursor: pointer;
  border: none;
  height: 2rem;
  margin-top: 15px;
  border-radius: 4px;
  font-family: inherit;
  padding: 2px;
  color: var(--very-dark-cyan);
  font-size: 18px;
  background-color: var(--strong-cyan);
}

@media (min-width: 1024px) {
  header {
    height: 6rem;
  }

  header img {
    margin: 4.5rem auto;
  }

  .calculadora {
    margin: 0 auto;
    width: 50%;
    height: 355px;
    border-radius: 20px;
  }

  form {
    flex-direction: row;
    gap: 0;
  }

  input[type="number"] {
    width: 85%;
  }

  .quantidade_gorjeta {
    width: 88%;
  }

  .resultados {
    height: auto;
    width: 60%;
    justify-content: space-between;
  }

  .reset {
    flex-shrink: 1;
  }
}
